* 
body {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
.header__head {
    background-image: url(img.html/head.svg);
    width: 1440px;
    height: 800px;
    rotate: 0 deg;

    &__title {
    width: 769px;
    height: 156px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    vertical-align: middle;
    margin-top: 196px;
    margin-left: 120px;
    margin-bottom: 448px;
    color: #000;

    }
}
